<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" type="text/css" href="/scss/style.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
    <link href="vendors/css/Grid.css" rel="stylesheet" type="text/css">
    <link href="vendors/css/normalize.css" rel="stylesheet" type="text/css">
     <script src="/js/handlebars.min-v4.7.7 (1).js"></script>
     
  
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Sabka Bazaar Groceries Pvt. Ltd. </title>
</head>
<body>
    {{>header}}
        <!-- Main Navigation Ends-->
<!-- Slider-->
<!--Slider Ends-->
<!--Container Ends -->
<div tabindex="0" class="con">
{{{body}}}
</div>
<!-- Container Ends-->
<!--Footer Section-->
{{>footer}}
<!--Footer Section Ends-->

</div>

</body>
 <script src="/js/myjs.js"></script>
 <script src="/js/mycart.js"></script>  
</html>